@model VulnerableCoreApp.ViewModels.CommentsViewModel 
@{ 
    ViewData["Title"] = "Stored XSS (AKA Persistent or Type I)"; 
}

<div class="row">
    <h1 class="text-center">XSS Persistant</h1>
</div>

<div class="row">
  <h2>Example</h2>
</div>
<br />
<div class="row">
  <ul>
        <li>Entrer <mark>&lt;script&gt;alert('Test');&lt;/script&gt;</mark>ou tout autre code Javascript valide enveloppé dans la balise script dans la zone de texte du commentaire  </li>
  </ul>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <h2>Commentaire</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments) {
            <tr>
                <td>
                    <div class="clearfix">
                        <div class="col-sm-11">
                            <div class="clearfix">
                                <b>@Html.Raw(item.Username)</b> <span>made a post</span>
                            </div>
                            <div class="clearfix">
                                at <small>@Html.Raw(item.CreatedAt)</small>
                            </div>     
                            <div class="clearfix" style="padding: 0.5em">
                                @Html.Raw(item.Text)
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <form asp-controller="CrossSiteScripting" asp-action="DemoTypeIDelete" method="post">
                                <input type="hidden" name="ID" value="@item.ID">
                                <button type="submit" class="btn btn-danger">×</button>
                            </form>
                        </div>                 
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
  <form asp-controller="CrossSiteScripting" asp-action="DemoTypeI" method="post">
      <div class="form-group">
          <textarea class="form-control" id="Text" name="Text" cols="20" rows="5" placeholder="Comment" style="resize: none"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<br />
<div class="row">
  <h2>Code Vulnerable</h2>
</div>
<br />
<div class="row">
    <p>
       Le commentaire soumis est enregistré (stocké) en tant que texte brut sans techniques d'assainissement.</p>
  <pre>
    <code class="C#">
        [HttpPost]
        public IActionResult DemoTypeI(CommentViewModel comment)
        {
            Comment newComment = new Comment();
            newComment.ID = Guid.NewGuid().ToString();
            newComment.Username = &quot;Anonymous&quot;;
            newComment.CreatedAt = DateTime.Now;
            newComment.Text = comment.Text;
            commentsRepository.Save(newComment);

            return RedirectToAction(&quot;DemoTypeI&quot;);
        }
    </code>
  </pre>
</div>

<div class="row">
    <p>
        L'application affiche le commentaire sous forme de texte brut, sans échapper aux balises HTML.
    </p>
  <pre>
    <code class="html">
      &lt;div class=&quot;clearfix&quot; style=&quot;padding: 0.5em&quot;&gt;
          @@Html.Raw(item.Text)
      &lt;/div&gt;
    </code>
  </pre>
  
</div>
<div class="row">
    <h2>Exercice</h2>
      <p>
        Corriger le code vulnérable afin que le XSS ne soit plus présent.
    </p>
</div>
@section Scripts {
<script>hljs.initHighlightingOnLoad();</script>
}
